<template name="footer">
    <div class="footer">
        <div class="footer-blue-bg">
            <div class="footer-blue-bg-icon">
                <a href=""><img src="footer/facebook.svg" class="footer-blue-bg-icon--svg"></a>
                <a href=""><img src="footer/twitter.svg" class="footer-blue-bg-icon--svg"></a>
                <a href=""><img src="footer/googleplus.svg" class="footer-blue-bg-icon--svg"></a>
                <a href="mailto:"><img src="footer/email.svg" class="footer-blue-bg-icon--svg"></a>
            </div>
            <p class="white-text footer-blue-bg-copyright">Copiright 2015 - Loopa Inc</p>
        </div>

    </div>
</template>
