<template name="featuresSection">
    <div class="container">
        <h4 class="section-title center-align">Nuestros Beneficios</h4>
        <div class="features row">
            <div class="feature-one col s12 m6 l4">
                {{> featureCard cardsContent.firstCard}}
            </div>
            <div class="col s12 m6 l4">
                <div class="row cont-small">
                    <div class="feature-two col s12 m12 l12 grey-text">
                        {{> featureCard cardsContent.secondCard}}
                    </div>
                    <div class="feature-three col s12 m12 l12">
                        {{> featureCard cardsContent.thirdCard}}
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="row">
                    <div class="feature-four col s12 m6 l12">
                        {{> featureCard cardsContent.fourthCard}}
                    </div>
                    <div class="feature-five col s12 m6 l12">
                        {{> featureCard cardsContent.fifthCard}}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-btn">
            <a class="waves-effect waves-pink btn-large subscribe-btn"><i class="material-icons left subscribe-btn-icon">done</i>Suscríbete</a>
        </div>
    </div>
</template>
