<template name="featureCard">
    <div class="card {{featureIndex}}-card {{color}} z-depth-1" name="{{featureIndex}}">
        <img class="{{featureIndex}}-background-image" src="{{featureImage}}">
        <div class="card-back {{featureIndex}}-card-back {{color}}">
            <div class="card-back--title center-align {{colorText}}">{{featureTitle}}</div>
            <div class="card-back--content center-align {{colorText}}">
                <p class="valign">{{featureDescription}}</p>
            </div>
        </div>
    </div>
</template>
