<template name="mostPopularSection">
    <div class="container">
        <h4 class="section-title center-align">Cursos Populares</h4>
        <div class="row contenedor-medium-large-screen hide-on-small-only">
            {{#each mostPopularInfo}}
            	{{#if indexIs index "7"}}
	            	<div class="col s6 m6 l3 hide-on-med-and-down">
	                	{{> mostPopularCard}}
	            	</div>
            	{{else}}
            		{{#if indexIs index "8"}}
            			<div class="col s6 m6 l3 hide-on-med-and-down">
                			{{> mostPopularCard}}
            			</div>
            		{{else}}
	            		<div class="col s6 m6 l3">
	                		{{> mostPopularCard}}
	            		</div>
            		{{/if}}
            	{{/if}}
            {{/each}}
        </div>
        
            {{#each mostPopularInfo}}
                {{> mostPopularCardSmallScreen}}
            {{/each}}
    </div>
</template>
