.courses{
	width: 92%;
	margin: 0 auto !important;
	@media #{$medium-and-down} {
		padding-bottom: 40px;
	}
	@media #{$small-and-down} {
		width: 98%;
	}
	.course-card{
		height:$course-card-height;
		@media #{$small-and-down} {
		height: $course-card-height-small;
	}
		&-main{
			position:relative;
			width:99.9%;
			margin: 10px auto;
			border-radius: 3px;
			height: calc(#{$course-card-height} - 20px);
			@media #{$small-and-down} {
				height: calc(#{$course-card-height-small} - 20px);
			}
			&-info{
				position: absolute;
				bottom: 0;
				height: 70px;
				width: 100%;
				background-color: rgba(46,46,46,0.4);
				z-index: 2;
				@media #{$medium-and-down} {
					height: 55px;
				}
				@media #{$small-and-down} {
					height: 40px;
					display: flex;
				    flex-flow: row nowrap;
				    justify-content: space-between;
				    align-items: center;
				}
				&--title{
					font-size: 20px;
				    padding-left: 15px;
				    margin-bottom: 1px;
				    margin-top: 15px;
				    @media #{$medium-and-down} {
						font-size: 18px;
						margin-top: 10px;
					}
					@media #{$small-and-down} {
						font-size: 15px;
						margin: 0;
    					padding: 0 15px;
					}
				}
				&--subtitle{
					padding-left: 15px;
				    font-weight: 300;
				    font-size: 13px;
				    margin-top: 4px;
				    @media #{$small-and-down} {
				    	font-weight: 700;
				    	margin: 0 15px;
				    	padding: 2px 5px;
					    border: 1px solid #FF3E7F;
					    background-color: #FF3E7F;
					    border-radius: 3px;
				    }
				}
			}
		}
	}
}

.course-one{
	background: url("cursos/web.svg");
	background-size: 99.9%;
	background-repeat: no-repeat;
}
.course-two{
	background: url("cursos/movil.svg");
	background-size: 99.9%;
	background-repeat: no-repeat;
}

.course-three{
	background: url("cursos/design.svg");
	background-size: 99.9%;
	background-repeat: no-repeat;
}

.course-four{
	background: url("cursos/emprendimiento2.svg");
	background-size: 99.9%;
	background-repeat: no-repeat;
}

.course-five{
	background: url("cursos/trading.svg");
	background-size: 99.9%;
	background-repeat: no-repeat;
}

.course-six{
	background: url("cursos/fotografia.svg");
	background-size: 99.9%;
	background-repeat: no-repeat;
}


