.feature-title{
	font-size: 28px;
    color: #484848;

    @media #{$medium-and-down}{
		margin-top: 40px !important;
		font-size: 26px;
	}

    @media #{$small-and-down}{
		margin-top: 30px !important;
		font-size: 22px;
	}
}

.features{
	width: 92%; 
	margin:50px auto !important;
	
	@media #{$medium-and-down}{
		margin:30px auto !important;
	}

	@media #{$small-and-down}{
		width:98%;
		margin:20px auto !important;
	}
}

.card{
	position:relative;
	overflow:hidden;
	width:99.9%;
	margin: 10px auto;
	background-color: white;
	border-radius: 3px;
}

.card-back{
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	will-change: height;
	transition: height .5s linear;
	border-radius: 3px;
	z-index:2;
	// background: linear-gradient(to top, rgba(46,46,46,0), rgba(46,46,46,0.2));
	background: linear-gradient(to bottom, rgba(46,46,46,0), rgba(46,46,46,0.4));
	&--title{
		width:100%;
		height:60px;
		line-height: 60px;
		top: 0;
		right: 0;
    	margin-bottom: 20px;
    	font-size: 18px;
    	font-weight: 300;
	}
	&--content {
		width:100%;
		overflow:scroll;
	}
}

.feature-one{
	height: $feature-one-height;
	&-card{
		height: calc(#{$feature-one-height} - 20px);
	}
}

.feature-two, .feature-five{
	height: $feature-two-five-height;
	&-card{
		height: calc(#{$feature-two-five-height} - 20px);
	}
}

.feature-three, .feature-four{
	height: $feature-three-four-height;
	&-card{
		height: calc(#{$feature-three-four-height} - 20px);
	}
}

@media #{$medium-and-down}{
	.feature-four, .feature-five{
		height: $feature-four-five-height-medium;
		&-card{
			height: calc(#{$feature-four-five-height-medium} - 20px);
		}
	}
	.cont-small{
		margin-bottom: 0;
	}
}

@media #{$small-and-down}{
	.feature-one, .feature-two, .feature-three, .feature-four, .feature-five{
		height: $features-height-small;
		&-card{
			height: calc(#{$features-height-small} - 20px);
		}
	}
	.cont-small{
		margin-bottom: 0;
	}
}