.feature-title{
	font-size: 28px;
    color: #484848;
}

.features{
	width: 92%; 
	margin:50px auto !important;
}

.card{
	position:relative;
	overflow:hidden;
	width:99.9%;
	margin: 10px auto;
	background-color: white;
	border-radius: 3px;
}
.card-front{
	width:100%;
	position:absolute;
	border-radius: 3px;
	&--title{
		width:100%;
		height:60px;
		line-height: 60px;
		background: linear-gradient(to bottom, rgba(46,46,46,0), rgba(46,46,46,0.8));
		bottom: 0;
		right: 0;
		position: absolute;
    	margin-bottom: 20px;
    	font-size: 18px;
    	font-weight: 300;
	}
}
.card-back{
	width:100%;
	position:absolute;
	transform: translateY(600px);
	will-change: transform;
	transition: transform .5s linear;
	border-radius: 3px;
	z-index:2;
	&--title{
		width:100%;
		height:60px;
		line-height: 60px;
		/* background: linear-gradient(to top, rgba(46,46,46,0), rgba(46,46,46,0.9)); */
		top: 0;
		right: 0;
    	margin-bottom: 20px;
    	font-size: 18px;
    	font-weight: 300;
	}
	&--content {
		width:100%;
		overflow:scroll;
	}
}

.feature-one{
	height: 550px;
	&-card{
		height: 530px;
		&-front{
			height:550px;
		}
		&-back{
			height: 530px;
		}
	}
}

.feature-two, .feature-three, .feature-four{
	height: 275px;
	&-card{
		height: 255px;
		&-front{
			height:275px;
		}
		&-back{
			height: 255px;
		}
	}
}

.feature-five{
	height: 350px;
	&-card{
		height: 330px;
		&-front{
			height:350px;
		}
		&-back{
			height: 330px;
		}
	}
}

.feature-six{
	height: 200px;
	&-card{
		height: 180px;
		&-front{
			height:200px;
		}
		&-back{
			height: 180px;
		}
	}
}
