.features {
    width: 92%;
    margin: 0 auto !important;
    @media #{$medium-and-down} {
        margin: 0 auto !important;
    }
    @media #{$small-and-down} {
        width: 98%;
        margin: 0 auto !important;
    }
}

.card {
    position: relative;
    overflow: hidden;
    width: 99.9%;
    margin: 10px auto;
    border-radius: 3px;
}

.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
    transition: transform .5s linear;
    border-radius: 3px;
    z-index: 2;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    background: linear-gradient(to bottom, rgba(46, 46, 46, 0), rgba(46, 46, 46, 0.4));
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    &--title {
        width: 100%;
        height: 60px;
        line-height: 60px;
        top: 0;
        right: 0;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 300;
        @media #{$medium-and-down} {
            font-size: 18px;
        }
        @media #{$small-and-down} {
            font-size: 16px;
        }
    }
    &--content {
        width: 100%;
        padding-left: 7px;
        padding-right: 7px;
    }
}

.feature-one {
    height: $feature-one-height;
    position: relative;
    &-card {
        height: calc(#{$feature-one-height} - 20px);
        img.feature-one-background-image {
            width: 80%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media #{$small-and-down} {
                height: 135%;
                transform: translate(-50%, -53%);
            }
        }
    }
    .card-back {
        transform: translateY(480px);
    }
}

.feature-two,
.feature-five {
    height: $feature-two-five-height;
    &-card {
        height: calc(#{$feature-two-five-height} - 20px);
    }
    .card-back {
        transform: translateY(150px);
    }
}

.feature-three,
.feature-four {
    height: $feature-three-four-height;
    &-card {
        height: calc(#{$feature-three-four-height} - 20px);
    }
    .card-back {
        transform: translateY(260px);
    }
}

.feature-two-card {
    img.feature-two-background-image {
        width: 78%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media #{$small-and-down} {
            width: 80%;
            height: 100%;
        }
    }
}

.feature-three-card {
    img.feature-three-background-image {
        width: 80%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media #{$small-and-down} {
            // width: 110%;
            height: 115%;
            transform: translate(-50%, -47%);
        }
    }
}

.feature-four-card {
    img.feature-four-background-image {
        width: 80%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media #{$small-and-down} {
            transform: translate(-50%, -55%);
        }
    }
}

.feature-five-card {
    img.feature-five-background-image {
        width: 80%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media #{$medium-and-down} {
    .feature-four,
    .feature-five {
        height: $feature-four-five-height-medium;
        &-card {
            height: calc(#{$feature-four-five-height-medium} - 20px);
        }
        .card-back {
            transform: translateY(205px);
        }
    }
    .cont-small {
        margin-bottom: 0;
    }
}

@media #{$small-and-down} {
    .feature-one,
    .feature-two,
    .feature-three,
    .feature-four,
    .feature-five {
        height: $features-height-small;
        &-card {
            height: calc(#{$features-height-small} - 20px);
        }
        .card-back {
            transform: translateY(130px);
        }
    }
    .cont-small {
        margin-bottom: 0;
    }
}

.subscribe-btn {
    padding-left: 15px;
    padding-right: 15px;
    &-icon {
        margin-right: 5px !important;
    }
}
