.our-team-container {
    width: 92%;
    margin: 0 auto !important;
    padding-bottom: 40px;
    @media #{$small-and-down}{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}
.our-team-card{
	display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &-images{
        position: relative;
        max-height: 60%;
    	&--background{
    		width:100%;
            display: block;
            border-radius: 2px 2px 0 0;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
    	}
        &--person{
            position: absolute;
            width:130px;
            height: 130px;
            border-radius: 50%;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 25%);
            @media (max-width: 1100px) {
                width:110px;
                height: 110px;   
            }
            @media (max-width: 992px) {
                width:160px;
                height: 160px;   
            }
            @media (max-width: 800px) {
                width:140px;
                height: 140px;   
            }
            @media (max-width: 650px) {
                width:120px;
                height: 120px;   
            }
        }
    }
    &-content{
        display: flex;
        flex-flow: column;
        align-items: center;
        &-name{
            margin-top: 50px;
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 500;
            color: grey;
        }
        &-rol{
            margin: 0;
            font-size: 12px;
        }
        &-description{
            width: 90%;
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            color: grey;
        }
    }
    &-follow{
        width: 100%;
        p{
            width:100%;
            padding: 5px;
            margin-bottom: 5px;
            font-size: 11.5px;
            text-align: center;
        }
    }
    &-social-icons{
        &--svg{
            width:25px;
            margin: 5px 10px;

        }

    }
}
