.comments-container{
	height: 520px;
	display: flex;
	flex-flow:column;
	justify-content:center;
	align-items:center;
	background-image:url('people-comments/bg_one_new.svg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	@media #{$small-and-down}{
		justify-content:flex-start;
		padding-top: 10%;
		height: 370px;
	}
	&-card{
		display:flex;
		align-items: center;
		padding-bottom: 80px;
		max-width: 60%;
		@media #{$medium-and-down}{
			max-width: 75%;
		}
		@media #{$small-and-down}{
			max-width: 90%;
			padding-bottom: 40px;
		}
		&--img{
			width: 100px;
			height: 100px;
			@media #{$small-and-down}{
				width: 75px;
				height: 75px;
			}
		}
		&--comment{
			padding-left: 20px;
			margin-left: 20px;
			border-left: 2px solid white;
			font-size: 18px;
			font-weight: 200;
			@media #{$medium-and-down}{
				font-size: 16px;
			}
			@media #{$small-and-down}{
				font-size: 13px;
			}
			&--author{
				font-weight: 600;
			}
		}
	}
	&-pagination{
		li {
		    display: inline-block;
		    font-size: 18px;
		    margin: 0 5px;
		    padding: 0 10px;
		    line-height: 30px;
		    border-radius: 100%;
		    text-align: center;
		    &:nth-child(odd){
      			background-color: #FF3E7F;
      			border: 1px solid #FF3E7F;
      			a { color: white; }
    		}
    		&:nth-child(even){
      			background-color: #FEFD6A;
      			border: 1px solid #FEFD6A;
      			a { color: #444; }
    		}
    		@media #{$small-and-down}{
				font-size: 13px;
		    	line-height: 27px;
			}
    	}

	}
}