.c1{
	height: 80vh;
	position: relative;
	.im1{
		position:absolute;
		z-index: 1;
		margin-top: 10%;
		padding-left: 7%;
		width: 95%;
		height: 550px;

	}
	.im2{
		position:absolute;
		z-index: 1;
		margin-top: 13%;
		margin-left: 10.2%;
		width:80%;
	}
}

.c2{
	height:80vh;
}

.c3{
	margin-right: 7%;
	font-size: 16px;
}

.title{
	color: $navbar-font-color;
	font-weight: 300;
	font-size: 45px;
}

.mkc{
	color: black;
}

@media (max-width:1147px) {
	.title{
		font-size: 35px;
	}
	.mkc{
		font-size: 12px;
	}
	.tkc{
		font-size: 12px;
	}
}

@media #{$small-and-down}{
	
	.c1{
		height: 50vh;
	}

	.c2{
		height: 42vh;
	}

	.im2{
		position: relative;
		height: 0;
		width:100%;
		padding: 25%;
	}

	iframe{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height:100%;
	}
}
