.wraper-cont{
	padding-bottom: 40px;
	 @media #{$medium-and-down}{
    	padding-bottom: 0;
    }
}
.contenedor-desktop{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	.video{
		width:60%;
		height:560px;
		display: flex;
		justify-content: flex-end;
		-ms-align-items: center;
		align-items: center;
		.inner-container{
			width: 92%;
			height: 570px;
			position: relative;
			img{
				position: absolute;
				height: 570px;
				width: 100%;
				margin-top: 61px;
				z-index: 1;
			}
			iframe{
				position:absolute;
				z-index: 1;
				width: 93.6%;
			    height: 350px;
			    margin-top: 88px;
			    margin-left: 3.2%;
			}
		}
	}
	.information{
		width: 40%;
		height:560px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		.title{
			font-size: 35px;
			font-weight: 300;
			padding: 0 50px;
		}
		.botones{
			width:100%;
			padding: 0 50px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
		}
	}
	@media (max-width:1180px) {
		.title{
			font-size: 35px;
		}
		.mkc, .tkc{
			font-size: 12px;
			padding: 0 20px;
			height: 45px;
			line-height: 45px;
		}
	}
}

.contenedor-mobile{
	display: flex;
	flex-direction: column;
	justify-content: center;
	.title-mobile{
		font-size: 45px;
		font-weight: 300;
		padding: 0 5%;
		margin-bottom: 50px;
		@media #{$small-and-down} {
    	font-size: 25px;
    	margin-bottom: 40px;
  		}
	}
	.video-mobile{
		height:0;
		position: relative;
		padding: 25%;
		.iframe-mobile{
			position: absolute;
			top:0;
			left: 0;
			width: 80%;
			height:80%;
			margin-left: 10%;
			@media #{$small-and-down} {
    			width: 90%;
    			height: 85%;
    			margin-left: 5%;
    		}	
		}
	}
	.botones-mobile{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		box-sizing: border-box;
		margin-top: -2%;
		height: 100px;
		@media #{$small-and-down} {
    			margin-top: 1%;
    	}
    	.btn1, .btn2{
    		width: 40%;
    		.tkc, .mkc{
				@media (max-width:470px) {
	    			font-size: 12px;
	    			height: 45px;
	    			line-height: 45px;
	    			padding: 0 15px;
    			}	
  			}
    	}	
	}
}