.contenedor-desktop{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	.video{
		width:60%;
		height:80vh;
		display: flex;
		justify-content: flex-end;
		-ms-align-items: center;
		align-items: center;
		.inner-container{
			width: 92%;
			height: 570px;
			position: relative;
			img{
				position: absolute;
				height: 570px;
				width: 100%;
				margin-top: 61px;
				z-index: 1;
			}
			iframe{
				position:absolute;
				z-index: 1;
				width: 93.6%;
			    height: 371px;
			    margin-top: 82px;
			    margin-left: 3.2%;
			}
		}
	}
	.information{
		width: 40%;
		height:80vh;
		display: flex;
		flex-flow: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		.title{
			font-size: 35px;
			font-weight: 300;
			padding: 0 50px;
		}
		.botones{
			width:100%;
			padding: 0 50px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
		}
	}
	@media (max-width:1180px) {
		.title{
			font-size: 35px;
		}
		.mkc, .tkc{
			font-size: 12px;
			padding: 0 20px;
			height: 45px;
			line-height: 45px;
		}
	}
}

.contenedor-mobile{
	display: flex;
	flex-direction: column;
	justify-content: center;
	.title-mobile{
		font-size: 45px;
		font-weight: 300;
		padding: 0 5%;
		margin-bottom: 60px;
		@media #{$small-and-down} {
    	font-size: 25px;
    	margin-bottom: 40px;
  		}
	}
	.video-mobile{
		height:0;
		position: relative;
		padding: 25%;
		.iframe-mobile{
			position: absolute;
			top:0;
			left: 0;
			width: 80%;
			height:80%;
			margin-left: 10%;
			@media #{$small-and-down} {
    			width: 90%;
    			height: 85%;
    			margin-left: 5%;
    		}	
		}
	}
	.botones-mobile{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		box-sizing: border-box;
		margin-top: -4%;
		height: 100px;
		@media #{$small-and-down} {
    			margin-top: 0;
    		}	
		.tkc, .mkc{
			@media (max-width:470px) {
    			font-size: 12px;
    			height: 45px;
    			line-height: 45px;
    			padding: 0 15px;
    		}	
  		}
	}
}










































/* .media-container{
	height: 570px;
	position: relative;
	.pantalla{
		position:absolute;
		z-index: 1;
		margin-top: 10%;
		padding-left: 7%;
		width: 95%;
		height: 550px;

	}
	.video{
		position:absolute;
		z-index: 1;
		margin-top: 13%;
		margin-left: 10.2%;
		width:80%;
		iframe{
			width: 101.8%;
			height: 350px;
		}
	}
}

.info{
	height:570px;

}

.info-2{
	margin-right: 7%;
}

.title{
	color: $navbar-font-color;
	font-weight: 300;
	font-size: 45px;
}

.mkc{
	color: black;
}



@media #{$medium-and-down}{
	.c0{
		display: flex;
		flex-direction: column;
		.media-container{
			order: 2;
		}
		.info{
			order: 1;
			height: 100vh;
			.info-2{
				margin-right: 0;
				.title{
					font-size: 45px;
				}
				.mkc{
					font-size: 14px;
				}
				.tkc{
					font-size: 14px;
				}
			}
		}
		.media-container{
			height:auto;
			box-sizing: border-box;
			background-color: #BBDEFB;
			padding: 40px 0;
			.video{
				position: relative;
				height: 0;
				padding: 25%;
				margin-top: 0px;
				margin-left: 0;
				margin:auto;
				iframe{
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height:100%;
				}
			}
		}

	}
}
@media #{$small-and-down}{
	.c0{
		.info{
			height:50vh;
			.info-2{
				.title{
					font-size: 28px;
				}
				.mkc{
					font-size: 10px;
				}
				.tkc{
					font-size: 10px;
				}
			}
		}
	}
} */


