.website-container-sidenav-open{
  overflow: hidden;
  position: absolute;
  /* top: 0;
  bottom: 0; */
  width: 100%;
}
.sidenav {
  -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;

   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);


  position: fixed;
  width: 240px;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%); //Temporary Firefox Fix
  padding-bottom: 60px;
  background-color: $sidenav-bg-color;
  z-index: 999;
  transform: translateX(-105%);
  will-change: transform;
  transition: transform 0.5s ease-in-out;

  &.open-sidenav{
    transform: translateX(0);
  }

  @extend .z-depth-1;

  .collapsible{
    margin: 0;
  }


  li {
    float: none;
    padding: 0 $sidenav-padding-right;
    &:hover{
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: none;
    } 
    &.active { 
      background-color: rgba(0, 0, 0, 0.06);
      font-weight: 700;
      border-bottom: none;
    }
  }
  a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 54px;
    line-height: 54px;
    padding: 0 $sidenav-padding-right;
  }
}


// Touch interaction
.dark-bg{
  height: 100%;
  width: calc(100% - 240px);
  position: fixed;
  top: 0;
  z-index: 998;
  right:0;
  display:none;
}

.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  background-color: $primary-color;
  a {
    color: $sidenav-bg-color;
  }
}


#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 120vh;
  background-color: rgba(0,0,0,.5);
  z-index: 997;

  will-change: opacity;
}

/* Estilos de la side-nav y transición de los elementos dentro de esta */
.sidenav{
  li.logo-side{
    background-color: $primary-color;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: $primary-color !important;
      border-bottom: none;
    }
    img{
      width:50%;
      &:hover{
        background-color: $primary-color;
      }
    }
  }
  li.animate{
    will-change: transform;
    transform: translateY(800px);
    transition: transform 0.5s ease-out;
    &.actived{
      transform: translateY(0);
    }
    &:nth-child(4){
      margin-right: 0;
    }
    &:nth-child(6):hover{
        background-color: rgba(0, 0, 0, 0.03);
    }
    .icon-sidebar{
      border: 0;
      width: 20px;
      display: inline;
      margin-bottom: -3px;
      margin-right: 12px;
    }
  }
  @for $i from 2 through 6{
    li:nth-child(#{$i}){
    transition-delay: $i * 0.1s;
    }
  }
}