<template name="commetCard">
    <div class="comments-container-card">
        <img src="{{imgPath}}" class="comments-container-card--img">
        <div class="comments-container-card--comment">
            <span class="white-text">
                <span class="pink-text">"</span>{{comment}}<span class="pink-text">"</span>
                <br>
            <span class="white-text comments-container-card--comment--author">—{{commentAuthor}} ({{sourceAuthor}})</span>
            </span>
        </div>
    </div>
</template>
