<template name="peopleCommentsSection">
    <div class="wraper-cont blue lighten-1" style="padding-bottom: 0">
        <div class="container">
            <h4 class="section-title center-align white-text" style="margin-bottom: 0">Ellos confían en Loopa</h4>
            <div class="comments-container">
            	<div class="comments-container-card">
            		<img src="people-comments/c1.jpg" class="circle comments-container-card--img">
            		<div class="comments-container-card--comment">
              			<span class="white-text">
                			<span class="pink-text">"</span>Giant Swarm looks set to be our solution for devops and infrastructure, allowing us to concentrate on building a great product<span class="pink-text">"</span><br><br>
                			<span class="white-text comments-container-card--comment--author">—Sam Lown (CTO, Cabify)</span>
              			</span>
            		</div>
            	</div>

            	<div class="comments-container-card">
            		<img src="people-comments/c2.jpg" class="circle comments-container-card--img">
            		<div class="comments-container-card--comment">
              			<span class="white-text">
                			<span class="pink-text">"</span>Giant Swarm looks set to be our solution for devops and infrastructure, allowing us to concentrate on building a great product<span class="pink-text">"</span><br><br>
                			<span class="white-text comments-container-card--comment--author">—Sam Lown (CTO, Cabify)</span>
              			</span>
            		</div>
            	</div>

        	</div>
    	</div>
    </div>
</template>
