<template name="peopleCommentsSection">
    <div class="wraper-cont blue lighten-1" style="padding-bottom: 0">
        <div class="container">
            <h4 class="section-title center-align white-text" style="margin-bottom: 0">Ellos confían en Loopa</h4>
            <div class="comments-container">
                {{#each commntsInfo}} 
                	{{> commetCard}} 
            	{{/each}}

                <ul class="comments-container-pagination">
                    <li class="waves-effect z-depth-1"><a href="#!">1</a></li>
                    <li class="waves-effect z-depth-1"><a href="#!">2</a></li>
                    <li class="waves-effect z-depth-1"><a href="#!">3</a></li>
                    <li class="waves-effect z-depth-1"><a href="#!">4</a></li>
                    <li class="waves-effect z-depth-1"><a href="#!">5</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>
