<template name="features">
    <div class="container">
        <h4 class="feature-title center-align" style="margin-top: 100px;">Nuestras Características</h4>
        <div class="features row">
            <div class="feature-one col l4">
                <div class="carta red z-depth-2">
                    <div class="test">
                        <div class="title center-align white-text">Feature One</div>
                    </div>
                    <div class="test2 red">
                        <div class="title2 center-align white-text">Feature One</div>
                        <div class="contenido center-align white-text">
                            <p class="valign">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="row">
                    <div class="feature-two col l12">
                        <div class="carta pink z-depth-2">
                            <div class="test">
                                <div class="title center-align white-text">Feature Two</div>
                            </div>
                            <div class="test2 pink">
                                <div class="title2 center-align white-text">Feature One</div>
                                <div class="contenido center-align white-text">
                                    <p class="valign">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-three col l6">
                        <div class="carta yellow z-depth-2"></div>
                    </div>
                    <div class="feature-four col l6">
                        <div class="carta blue z-depth-2"></div>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="row">
                    <div class="feature-five col l12">
                        <div class="carta indigo z-depth-2"></div>
                    </div>
                    <div class="feature-six col l12">
                        <div class="carta teal z-depth-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
