<template name="mobile">
    <section class="hide-on-large-only">
        <div class="contenedor-mobile">
            <h1 class="center-align title-mobile white-text">Lorem ipsum dolor sit amet, mutat graeco</h1>
            <div class="video-mobile">
                <iframe class="iframe-mobile" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="botones-mobile">
                <div class="btn1">
                    <div class="right-align" id="btn1"><a class="waves-effect waves-pink btn-large tkc" id="tkc">Toma un curso</a></div>
                </div>
                <div class="btn2">
                    <div class="left-align" id="btn2"><a class="waves-effect waves-orange btn-large yellow grey-text text-darken-3 mkc" id="mkc">Crea un Curso</a></div>
                </div>
            </div>
        </div>
    </section>
</template>
