<template name="desktop">
    <section class="hide-on-med-and-down">
        <div class="contenedor-desktop">
            <div class="video">
                <div class="inner-container">
                    <img class="responsive-img" src="imac.png">
                    <iframe class="responsive-video" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="information">
                <h1 class="col s12 center-align title white-text">Lorem ipsum dolor sit amet, mutat graeco</h1>
                <div class="botones">
                    <div class="col s6 center-align" id="btn1"><a class="waves-effect waves-pink btn-large tkc" id="tkc">Toma un curso</a></div>
                    <div class="col s6 center-align" id="btn2"><a class="waves-effect waves-orange btn-large yellow grey-text text-darken-3 mkc" id="mkc">Crea un Curso</a></div>
                </div>
            </div>
        </div>
    </section>
</template>
